<a href="https://colab.research.google.com/github/darshanramani/Pyspark/blob/main/T2_Pyspark_DF_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=944a28dcf4240fca5f07c9119eb7d10335a7fc0d6df0aa283d4637ec33fd6d5e
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('DataFrame in Spark').getOrCreate()

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df= spark.read.option('header','true').csv('/content/drive/My Drive/Colab Notebooks/test1.csv',inferSchema=True)

In [ ]:
df

DataFrame[Name: string, age: int, Experience: int]

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.columns

['Name', 'age', 'Experience']

In [ ]:
df.head(2)# in the list format

[Row(Name='Darshan', age=21, Experience=1),
 Row(Name='Vatsal', age=22, Experience=4)]

In [ ]:
df.show() # Table format

+-------+---+----------+
|   Name|age|Experience|
+-------+---+----------+
|Darshan| 21|         1|
| Vatsal| 22|         4|
|  Omkar| 19|         2|
+-------+---+----------+

In [ ]:
df.select('Name').show()

+-------+
|   Name|
+-------+
|Darshan|
| Vatsal|
|  Omkar|
+-------+

In [ ]:
df.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Darshan|         1|
| Vatsal|         4|
|  Omkar|         2|
+-------+----------+

In [ ]:
df.describe().show()

+-------+-------+------------------+------------------+
|summary|   Name|               age|        Experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   NULL|20.666666666666668|2.3333333333333335|
| stddev|   NULL|1.5275252316519465|1.5275252316519468|
|    min|Darshan|                19|                 1|
|    max| Vatsal|                22|                 4|
+-------+-------+------------------+------------------+

In [ ]:
### Adding column in DF

df.withColumn('Ex after 2 years', df['Experience']+2).show()

+-------+---+----------+----------------+
|   Name|age|Experience|Ex after 2 years|
+-------+---+----------+----------------+
|Darshan| 21|         1|               3|
| Vatsal| 22|         4|               6|
|  Omkar| 19|         2|               4|
+-------+---+----------+----------------+

In [ ]:
# drop the columns

df.drop('age').show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Darshan|         1|
| Vatsal|         4|
|  Omkar|         2|
+-------+----------+

In [ ]:
### Rename the column

df.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
| Darshan| 21|         1|
|  Vatsal| 22|         4|
|   Omkar| 19|         2|
+--------+---+----------+