<a href="https://colab.research.google.com/github/darshanramani/Pyspark/blob/main/T3_Pyspark_DF_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=1fab202bc6520e1a6933981f4f7f94fb836150e691cddba49128b15535ea1907
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('DF in spark 2').getOrCreate()

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
### create dataframe

In [ ]:
data = [('Darshan','M',1000),('vatsal','M',1900),('Omkar','F',2500),('Yuvi','M',3500)]

In [ ]:
data

[('Darshan', 'M', 1000),
 ('vatsal', 'M', 1900),
 ('Omkar', 'F', 2500),
 ('Yuvi', 'M', 3500)]

In [ ]:
type(data)

list

In [ ]:
col=['Name','gender','Salary']

In [ ]:
df=spark.createDataFrame(data=data, schema=col)

In [ ]:
df

DataFrame[Name: string, gender: string, Salary: bigint]

In [ ]:
df.show()

+-------+------+------+
|   Name|gender|Salary|
+-------+------+------+
|Darshan|     M|  1000|
| vatsal|     M|  1900|
|  Omkar|     F|  2500|
|   Yuvi|     M|  3500|
|  Chinu|      |  9900|
+-------+------+------+

In [ ]:
from pyspark.sql.functions import when

In [ ]:
df2= df.withColumn("New Gender", when(df.gender=='M','MALE').when(df.gender=='F','FEMALE').when(df.gender.isNull(),"").otherwise(df.gender))

In [ ]:
df2.show()

+-------+------+------+----------+
|   Name|gender|Salary|New Gender|
+-------+------+------+----------+
|Darshan|     M|  1000|      MALE|
| vatsal|     M|  1900|      MALE|
|  Omkar|     F|  2500|    FEMALE|
|   Yuvi|     M|  3500|      MALE|
|  Chinu|      |  9900|          |
+-------+------+------+----------+

In [ ]:
# data.append(('Chinu',' ',9900))

In [ ]:
# data

[('Darshan', 'M', 1000),
 ('vatsal', 'M', 1900),
 ('Omkar', 'F', 2500),
 ('Yuvi', 'M', 3500),
 ('Chinu', ' ', 9900)]

In [ ]:
from pyspark.sql.functions import expr, col

In [ ]:
df3= df.withColumn("New Gender",expr("CASE WHEN Gender ='M' THEN 'Male' "+ "when gender ='F' then 'Female' END"))

In [ ]:
df3.show()

+-------+------+------+----------+
|   Name|gender|Salary|New Gender|
+-------+------+------+----------+
|Darshan|     M|  1000|      Male|
| vatsal|     M|  1900|      Male|
|  Omkar|     F|  2500|    Female|
|   Yuvi|     M|  3500|      Male|
|  Chinu|      |  9900|      NULL|
+-------+------+------+----------+